<div class="modal fade" id="new_quest_modal_for_main_quest_<%= main_quest.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(url: "/campaigns/#{@campaign.id}/main_quests/#{main_quest.id}/quests", model: @new_quest, local: true) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title">New Quest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>
            <%= form.label :name %><br>
            <%= form.text_field :name %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :level %><br>
            <%= form.number_field :level %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'w-75' %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label 'Reward (250 character max)' %><br>
            <%= form.text_area :reward, maxlength: 250, class: 'w-75' %>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Save Quest', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
