<div class="modal fade" id="edit_main_quest_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: [ @campaign, @campaign.main_quests.build ], local: true, method: :post) do |form| %>
      <input type="hidden" name="_method" value="patch">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_main_quest_modal_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#main_quest_attributes" aria-expanded="false">
            Toggle attributes
          </button>
        </p>

        <div class="collapse" id="main_quest_attributes">
          <div class="card card-body">
            <div class="form-group">
              <p>
                <%= form.label :name %><br>
                <%= form.text_field :name %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= form.label :short_description %><br>
                <%= form.text_field :short_description, class: 'w-75' %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= form.label :description %><br>
                <%= form.text_area :description, class: 'w-75' %>
              </p>
            </div>
          </div>
        </div>

        <p>
          <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#manage_quests" aria-expanded="false">
            Toggle quests
          </button>
        </p>

        <div class="collapse" id="manage_quests"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Edit Main Quest', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
