<% if main_quest.id %>

<div class="media text-muted pt-3" id=<%= main_quest.id %>>
  <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark"><%= main_quest.name %> <span data-toggle="tooltip" data-placement="right" title="Quests completed / available">(<%= "#{main_quest.quest_progress[0]}/#{main_quest.quest_progress[1]}" %>)</span></strong>
    <%= main_quest.short_description %>
  </p>
  <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapse_main_quest_<%= main_quest.id %>" aria-expanded="false" aria-controls="collapseExample">
    Expand
  </button>
</div>
<div class="collapse" id="collapse_main_quest_<%= main_quest.id %>">
  <div class="card card-body">
    <p>
      <div class="row">
        <div class="col-sm" style="text-align: center;">
          <button type="button" class="btn btn-success" id="new_quest_main_quest_id_<%= main_quest.id %>">
            New Quest
          </button>
        </div>
        <div class="col-sm" style="text-align: center;">
          <button type="button" class="btn btn-secondary" id="edit_main_quest_id_<%= main_quest.id %>">
            Edit Main Quest
          </button>
        </div>
        <div class="col-sm" style="text-align: center;">
          <%= link_to "Delete",
            [@campaign, main_quest],
            method: :delete,
            class: 'btn btn-danger',
            role: 'button',
            data: { confirm: 'Are you sure?' }
          %>
        </div>
      </div>
    </p>
    
    <h3>Quests</h3>
    
    <% if main_quest.quests.exists? %>
    <p>
    <ul class="list-group">
      <% main_quest.quests_sorted.each do |quest| %>
      <li class="list-group-item">
        <strong><%= "|#{quest.order}|     " %></strong><%= "#{quest.name} (level #{quest.level}):" %>
        <%= quest.description %>
        <p>
        <div class="btn-group pull-right" role="group">
          <a role="button" class="btn btn-secondary" href="<%= edit_campaign_main_quest_quest_path(@campaign, main_quest, quest) %>">edit / add dungeon</a>
          <a role="button" class="btn btn-secondary" href="#">load into simulator</a>
        </div>
        </p>
      </li>
      <% end %>
    </ul>
    </p>
    <% else %>
    <p>No quests at this main_quest.</p>
    <% end %>

    <%= @markdown.render(main_quest.description).html_safe %>

  </div>
</div>
<% end %>
