<h3 class="mt-1 mb-5 display-3"><%= @dungeon.name %></h3>

<%# <style type="text/css" id="react-draggable-style-el">

    * {
      box-sizing: border-box;
    }
    html, body {
      height: 100%;
    }

    body {
      color: #222;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 200;
      margin: 0 50px;
    }

    .react-draggable, .cursor {
      cursor: move;
    }
    .no-cursor {
      cursor: auto;
    }
    .cursor-y {
      cursor: ns-resize;
    }
    .cursor-x {
      cursor: ew-resize;
    }

    .react-draggable strong {
      background: #ddd;
      border: 1px solid #999;
      border-radius: 3px;
      display: block;
      margin-bottom: 10px;
      padding: 3px 5px;
      text-align: center;
    }

    .box {
      background: #fff;
      border: 1px solid #999;
      border-radius: 3px;
      width: 180px;
      height: 180px;
      margin: 10px;
      padding: 10px;
      float: left;
    }
  
</style> %>

<script id="dungeon_rooms" type="application/json"><%= @dungeon.rooms.html_safe %></script>

<div class="card mb-3">
  <div class="card-header">
    <%= @dungeon.dungeonable_type %> Info
  </div>
  <div class="card-body">
    <%= @dungeon.dungeonable.description %>
  </div>
</div>

<div id="simulator_app"></div>


<%= javascript_pack_tag 'simulate_dungeon', 'data-turbolinks-track': 'reload' %>
<%# javascript_pack_tag 'load_react_dungeon_simulator', 'data-turbolinks-track': 'reload' %>
