<%= form_with id: 'creature_form', model: @creature, local: true do |form| %>
  <% if @creature.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@creature.errors.count, "error") %> prohibited
        this creature from being saved:
      </h2>
      <ul>
        <% @creature.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :special_abilities_json, value: String(@creature.special_abilities_json) %>
  <%= form.hidden_field :actions_json, value: String(@creature.actions_json) %>
  <%= form.hidden_field :reactions_json, value: String(@creature.reactions_json) %>
  <%= form.hidden_field :legendary_actions_json, value: String(@creature.legendary_actions_json) %>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="form-group">
          <p>
            <%= form.label :name %><br>
            <%= form.text_field :name %>
          </p>
        </div>
      </div>
      <div class="col text-center">
        <div class="form-group">
          <p>
            <%= form.label :alignment %><br>
            <%= form.select(:alignment, @alignment_choices.each, { include_blank: true }) %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :size %><br>
            <%= form.text_field :size %>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :tag %><br>
            <%= form.text_field :tag %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :body_type %><br>
            <%= form.text_field :body_type %>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :sub_body_type %><br>
            <%= form.text_field :sub_body_type %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :armor_class %><br>
            <%= form.number_field :armor_class %>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :armor_name %><br>
            <%= form.text_field :armor_name %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :hit_points %><br>
            <%= form.number_field :hit_points %>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :hit_dice %><br>
            <%= form.text_field :hit_dice %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <p>
            <%= form.label "Speed (ft)" %><br>
            <%= form.number_field :speed, class: 'speed-pick', onKeyPress: "if(this.value.length==4) return false;" %>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <p>
            <%= form.label "Burrow Speed (ft)" %><br>
            <%= form.number_field :burrow_speed, class: 'speed-pick', onKeyPress: "if(this.value.length==4) return false;" %>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <p>
            <%= form.label "Climb Speed (ft)" %><br>
            <%= form.number_field :climb_speed, class: 'speed-pick', onKeyPress: "if(this.value.length==4) return false;" %>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <p>
            <%= form.label "Fly Speed (ft)" %><br>
            <%= form.number_field :fly_speed, class: 'speed-pick', onKeyPress: "if(this.value.length==4) return false;" %>
            
          </p>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <p>
            <%= form.label "Swim Speed (ft)" %><br>
            <%= form.number_field :swim_speed, class: 'speed-pick', onKeyPress: "if(this.value.length==4) return false;" %>
          </p>
        </div>
      </div>
    </div>

    <h3>Ability Scores</h3>
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Strength">STR</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Dexterity">DEX</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Constitution">CON</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Intelligence">INT</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Wisdom">WIS</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Charisma">CHA</em></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.number_field :strength, max: '30', class: 'ability-score-pick', onKeyPress: "if(this.value.length==2) return false;" %></td>
          <td><%= form.number_field :dexterity, max: '30', class: 'ability-score-pick', onKeyPress: "if(this.value.length==2) return false;" %></td>
          <td><%= form.number_field :constitution, max: '30', class: 'ability-score-pick', onKeyPress: "if(this.value.length==2) return false;" %></td>
          <td><%= form.number_field :intelligence, max: '30', class: 'ability-score-pick', onKeyPress: "if(this.value.length==2) return false;" %></td>
          <td><%= form.number_field :wisdom, max: '30', class: 'ability-score-pick', onKeyPress: "if(this.value.length==2) return false;" %></td>
          <td><%= form.number_field :charisma, vmax: '30', class: 'ability-score-pick', onKeyPress: "if(this.value.length==2) return false;" %></td>
        </tr>
      </tbody>
    </table>

    <h3>Damage traits</h3>
    <small>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</small>
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><em data-toggle="tooltip" data-original-title="What is the creature weak against?">Vulnerabilities</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="What is the creature strong against?">Resistances</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="What is the creature immune to?">Immunities</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="What conditions are the creature immune to?">Cond. Immunities</em></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.select(:damage_vulnerabilities, @damage_types.each, {}, { multiple: true, size: @damage_types.length }) %></td>
          <td><%= form.select(:damage_resistances, @damage_types.each, {}, { multiple: true, size: @damage_types.length }) %></td>
          <td><%= form.select(:damage_immunities, @damage_types.each, {}, { multiple: true, size: @damage_types.length }) %></td>
          <td><%= form.select(:condition_immunities, @conditions.each, {}, { multiple: true, size: @conditions.length }) %></td>
        </tr>
      </tbody>
    </table>

    <h3>Senses</h3>
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Radius that can be seen while blind.">Blindsight</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Radius that can be seen in the dark.">Darkvision</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Radius that a creature can detect a thing through the ground.">Tremorsense</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Radius to see in normal and magical darkness, invisible creatures and objects, automatically detect visual illusions and succeed on saving throws against them, and perceives the original form of a shapechanger or a creature that is transformed by magic.">Truesight</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Radius to send and receive telepathic messages.">Telepathy</em></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.number_field :blindsight, class: 'sense-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :darkvision, class: 'sense-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :tremorsense, class: 'sense-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :truesight, class: 'sense-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :telepathy, class: 'sense-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
        </tr>
      </tbody>
    </table>

    <h3>Saves</h3>
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Strength">STR</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Dexterity">DEX</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Constitution">CON</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Intelligence">INT</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Wisdom">WIS</em></td>
          <td scope="col"><em data-toggle="tooltip" data-original-title="Charisma">CHA</em></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.number_field :strength_save, class: 'ability-score-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :dexterity_save, class: 'ability-score-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :constitution_save, class: 'ability-score-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :intelligence_save, class: 'ability-score-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :wisdom_save, class: 'ability-score-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
          <td><%= form.number_field :charisma_save, class: 'ability-score-pick', onKeyPress: "if(this.value.length==4) return false;" %></td>
        </tr>
      </tbody>
    </table>
    
    <h3>Misc</h3>
    <small>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</small>
    <hr>
    <div class="form-group">
      <p>
        <%= form.label 'Challenge rating ({level}: {xp gain})' %><br>
        
        <select name="creature[challenge_rating]" id="creature_challenge_rating">
        <% @challenge_ratings.each do |rating| %>
        <option value="<%= rating['rating'] %>"> <%= "#{rating['rating']}: #{rating['xp']}" -%> </option>
        <% end %>
        </select>
      </p>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <p>
          <%= form.label :languages %><br>
          <%= form.select(:languages, @languages.each, { prompt: 'None' }, { multiple: true, size: @languages.length+1  }) %>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <%= form.label :skills %><br>
            <%= form.select(:skills, @skills.each, { prompt: 'None' }, { multiple: true, size: @skills.length+1  }) %>
          </p>
        </div>
      </div>
    </div>

    <h3>Abilities, Actions, and Reactions</h3>
    <hr>
    <div class="form-group">
      <p>
        <%= form.label 'Name' %><br>
        <%= form.text_field :custom_name %><br>
      </p>
    </div>
    
    <div class="form-group">
      <p>
        <%= form.label 'Description', 'data-toggle': 'tooltip', 'data-original-title': 'Feel free to use markdown as it will render' %><br>
        <%= form.text_area :custom_body, class: 'w-75' %>
      </p>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <p>
            <button id="new_special_abilitie" class="btn btn-primary">New Special Ability</button>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <button id="new_action" class="btn btn-primary">New Action</button>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <button id="new_reaction" class="btn btn-primary">New Reaction</button>
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <p>
            <button id="new_legendary_action" class="btn btn-primary">New Legendary Action</button>
          </p>
        </div>
      </div>
    </div>

    <div id="aarl_container">
      <h4>Special Abilities</h4>

      <div id="special_abilitie_holder">
        <ul id="special_abilitie_holder_list">
        </ul>
      </div>

      <h4>Actions</h4>

      <div id="action_holder">
        <ul id="action_holder_list">
        </ul>
      </div>

      <h4>Reactions</h4>

      <div id="reaction_holder">
        <ul id="reaction_holder_list">
        </ul>
      </div>
    
      <h4>Legendary Actions</h4>

      <div id="legendary_action_holder">
        <ul id="legendary_action_holder_list">
        </ul>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <p>
        <%= form.label 'Legendary Description', 'data-toggle': 'tooltip', 'data-original-title': 'Feel free to use markdown as it will render' %><br>
        <%= form.text_area :legendary_desc, class: 'w-75' %>
      </p>
    </div>

    <!--
    t.text :spells_json
    t.text :actions_json
    t.text :special_abilities_json
    t.text :reactions_json

    t.text :legendary_desc
    t.text :legendary_actions_json

    <h2>IGNORE FOR NOW</h2>
    <div class="form-group">
      <p>
        <%= form.label "API Index (integer)" %><br>
        <%= form.number_field :api_index %>
      </p>
    </div>
    <div class="form-group">
      <p>
        <%= form.label "Path" %><br>
        <%= form.text_field :path, :value => @default_path %>
      </p>
    </div>
    <div class="form-group">
      <p>
        <%= form.label "Base URL (it's recommend you use the default)" %><br>
        <%= form.text_field :base_url, :value => @default_base_url %>
      </p>
    </div>
    <div class="form-group">
      <p>
        <%= form.label 'Ceature info (click textarea to run call)' %><br>
        <%= form.text_area :creature_info, readonly: true, value: 'Click me', style: "width: auto; height: auto;" %>
        <small id="url_preview" class="form-text text-muted"></small>
      </p>
    </div>-->
    
    <p>
      <%= form.submit class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
