<div class="modal fade" id="new_encounter_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(url: '', model: @new_encounter, id: 'new_encounter_modal_form', local: true) do |form| %>
      <%= form.hidden_field :location_or_building %>
      <%= form.hidden_field :encounterable_id %>
      <div class="modal-header">
        <h5 class="modal-title">New Encounter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>
            <%= form.label :name %><br>
            <%= form.text_field :name %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :level %><br>
            <div class="d-flex  my-4">
              
                <input id="quest_level"
                       name="quest[level]"
                       
                       class="range-field w-25"
                       type="range"
                       min="1"
                       max="30" />
              
              <span id="level_readout" class="font-weight-bold indigo-text ml-2 mt-1">15</span>
            </div><br>
            
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'w-75' %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label 'Reward (250 character max)' %><br>
            <%= form.text_area :reward, maxlength: 250, class: 'w-75' %>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Save Encounter', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
