<h1 class="mt-5">Listing characters</h1>

<% if @characters.exists? %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <% @characters.each do |character| %>
  <tr>
    <td><%= character.name %></td>
    <td><%= link_to 'Show', character_path(character) %></td>
    <td><%= link_to 'Destroy', character_path(character),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<p>Or go make one: <%= link_to 'New character', new_character_path %></p>

<% else %>

<h3>No Characters Yet</h3>

<p>Go and make some: <%= link_to 'New character', new_character_path %></p>

<% end %>

