<h1 class="mt-5">New Character</h1>

<% if @character.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@character.errors.count, "error") %> prohibited
    this character from being saved:
  </h2>
  <ul>
    <% @character.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= render 'new_form' %>

<%= link_to 'Back', campaigns_path %>

<%= javascript_pack_tag "character", 'data-turbolinks-track': 'reload' %>