<%= form_with model: @campaign, local: true do |form| %>

<% if @campaign.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@campaign.errors.count, "error") %> prohibited
    this campaign from being saved:
  </h2>
  <ul>
    <% @campaign.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>
</div>

<div class="form-group">
<p>
  <%= form.label :notes %><br>
  <%= form.text_area :map %>
</p>
</div>

<p>
  <%= form.submit %>
</p>

<% end %>