<%= render 'locations/new_form_modal' %>
<%= render 'buildings/new_form_modal' %>

<%= render 'main_quests/new_form_modal' %>
<%= render 'campaigns/settings_modal' %>

<%= render 'shared/loading_modal' %>

<%# <% console %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @campaign.name %></h1>
    <%= hidden_field_tag 'campaign_id', @campaign.id %>
    <%# <p class="lead text-muted"> %>
    <!-- <%= @markdown.render(@campaign.general_information).html_safe %> -->
    <%# </p> %>
    <p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_location_modal">
        New Location
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_main_quest_modal">
        New Main Quest
      </button>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#campaign_settings_modal">
        Settings
      </button>
    </p>
  </div>
</section>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Locations</h6>

  <%= render @campaign.locations %>

  <small class="d-block text-right mt-3">
    <a href="#">Minimize</a>
  </small>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Main Quests</h6>

  <%= render @campaign.main_quests %>

  <small class="d-block text-right mt-3">
    <a href="#">Minimize</a>
  </small>
</div>

<%= javascript_pack_tag 'campaign_modal_handlers' %>
