<%= render 'locations/new_form_modal' %>
<%= render 'campaigns/settings_modal' %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @campaign.name %></h1>
    <p class="lead text-muted"><%= @campaign.summary %></p>
    <p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_location_modal">
        New Location
      </button>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#new_settings_modal">
        Settings
      </button>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <%= render @campaign.locations %>
      
    </div>
  </div>
</div>
