<div class="modal fade" id="edit_location_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: [ @campaign, @campaign.locations.build ], local: true, method: :post) do |form| %>
      <input type="hidden" name="_method" value="patch">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_location_modal_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>
            <%= form.label :name %><br>
            <%= form.text_field :name %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :short_description %><br>
            <%= form.text_field :short_description, class: 'w-75' %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'w-75' %>
          </p>
        </div>
        <div class="form-group">
          <p>
            <%= form.label :image_link %><br>
            <%= form.text_field :image_link %>
            <button id="load_image" class="btn btn-info" >Confirm</button>
          </p>
          <%= form.label 'Preview:' %>
          <div id="dropbox">
            <div id="preview">
              
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit 'Edit Location', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'new_location' %>
