<% if location.id %>

<div class="media text-muted pt-3" id=<%= location.id %>>
  <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <strong class="d-block text-gray-dark"><%= location.name %></strong>
    <%= location.short_description %>
  </p>
  <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapse_location_<%= location.id %>" aria-expanded="false" aria-controls="collapseExample">
    Expand
  </button>
</div>
<div class="collapse" id="collapse_location_<%= location.id %>">
  <div class="card card-body">
    <p>
      <div class="row">
        <div class="col-sm" style="text-align: center;">
          <button type="button" class="btn btn-success" id="new_building_location_id_<%= location.id %>">
            New Building
          </button>
        </div>
        <div class="col-sm" style="text-align: center;">
          <button type="button" class="btn btn-secondary" id="edit_location_id_<%= location.id %>">
            Edit Location
          </button>
        </div>
        <div class="col-sm" style="text-align: center;">
          <%= link_to "Delete",
            [@campaign, location],
            method: :delete,
            class: 'btn btn-danger',
            role: 'button',
            data: { confirm: 'Are you sure?' }
          %>
        </div>
      </div>
    </p>
    
    <h3>Buildings</h3>
    
    <% if location.buildings.exists? %>
    <p>
    <ul class="list-group">
      <% location.buildings.each do |building| %>
      <li class="list-group-item">
        <strong><%= building.name %>:</strong> <%= building.description %>
      </li>
      <% end %>
    </ul>
    </p>
    <% else %>
    <p class="text-secondary">No buildings at this location.</p>
    <% end %>

    <%= location.description %>

  </div>
</div>
<% end %>
