<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
      rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:700'
      rel='stylesheet' type='text/css'>

    <title>Campaign Manager</title>
  </head>
  <body>
    <header>
      <% unless params[:controller] == 'devise/sessions' %>
      <%# <nav class="navbar navbar-expand-md navbar-dark bg-dark"> %>
      <nav class="navbar navbar-expand-md static-top navbar-dark bg-dark">
        <!-- <%= params[:controller] %> -->
        <!-- <a class="navbar-brand" href="#"></a>
        <img src="<%= asset_path('dnd_logo.png') %>" style="height: auto;"> -->
        <!-- <%= params %> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <% if params[:controller] == 'home' %><li class="nav-item active"><% else %><li class="nav-item"><% end %>
              <a class="nav-link" href='/'>Home</a>
            </li>
            <% if params[:controller] == 'campaigns' %><li class="nav-item active"><% else %><li class="nav-item"><% end %>
              <% if current_user %>
                <%= link_to('Campaigns', campaigns_path, class: 'nav-link') %>
              <% else %>
                <%= link_to('Campaigns', campaigns_path, class: 'nav-link disabled') %>
              <% end %>
            </li>
            <% if params[:controller] == 'creatures' %><li class="nav-item active"><% else %><li class="nav-item"><% end %>
              <%= link_to('Creatures', creatures_path, class: 'nav-link') %>
            </li>
            <% if params[:controller] == 'characters' %><li class="nav-item active"><% else %><li class="nav-item"><% end %>
              <% if current_user %>
                <%= link_to('Characters', characters_path, class: 'nav-link') %>
              <% else %>
                <%= link_to('Characters', characters_path, { class: 'nav-link disabled' }) %>
              <% end %>
            </li>
            <% if params[:controller] == 'items' %><li class="nav-item active"><% else %><li class="nav-item"><% end %>
              <%= link_to('Items', items_path, class: 'nav-link') %>
            </li>
            <%# <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> %>
          </ul>
            <% if current_user %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "btn btn-outline-danger my-2 my-sm-0" %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, :class => "btn btn-outline-success my-2 my-sm-0" %>
              <%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-outline-info my-2 my-sm-0 ml-2" %>
            <% end %>
        </div>
      </nav>
      <% end %>
    </header>
    <main role="main" class="container">
      <% flash.each do |key, value| %>
        <% if key == 'error' %>
          <div class="alert alert-danger fade in alert-dismissible show" style="margin-top:18px;">
        <% elsif key == 'warning' %>
          <div class="alert alert-warning fade in alert-dismissible show" style="margin-top:18px;">
        <% elsif key == 'notice' %>
          <div class="alert alert-success fade in alert-dismissible show" style="margin-top:18px;">
        <% elsif key == 'alert' %>
          <div class="alert alert-primary fade in alert-dismissible show" style="margin-top:18px;">
        <% else %>
          <div class="alert alert-dark fade in alert-dismissible show" style="margin-top:18px;">
        <% end %>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:20px">×</span>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
